Repository Oichkatzelesfrettschen/harvey: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, clang-tidy

check-yaml:
  name: check-yaml
  entry: hooks/check_yaml.py
  language: python

clang-tidy:
  name: clang-tidy
  entry: hooks/clang_tidy.sh
  language: script

Add recursive spinlock utility
  modern/Makefile
  modern/acd_c23.c
  modern/spinlock.c
  modern/spinlock.h
Due: clang-tidy

Add tooling installs and configs
  .codex/setup.sh
  .pylintrc
  configuredb.conf
  pyfuzz.yaml
  pytest.ini
  tests/test_placeholder.py
Due: check-yaml

Fix clang-tidy warnings
  clang-tidy.config
  modern/acd_c23.c
  modern/args.c
  modern/msf.h
Due: clang-tidy

Simplify setup script and ensure pre-commit
  .codex/setup.sh
  docs/modernization-plan.md
Due: none

Add QEMU and Bochs to setup
  .codex/setup.sh
  README.md
Due: none

Switch to CMake build
  .codex/setup.sh
  .github/workflows/clang.yml
  .gitignore
  CMakeLists.txt
  Makefile
  README.md
  modern/CMakeLists.txt
  modern/Makefile
  modern/README.md
Due: check-yaml

Add CI workflow
  .github/workflows/ci.yml
Due: check-yaml

Use int32_t for 32-bit ints
  modern/acd_c23.c
  modern/args.c
  modern/args.h
  modern/msf.h
Due: clang-tidy

Add ARCH support and cross compile instructions
  Makefile
  README.md
  modern/Makefile
  modern/README.md
Due: none

Add POSIX compatibility layer for acd and document Plan9 audit
  acme/bin/source/acd/acd.h
  docs/acd-plan9-audit.md
  modern/plan9_compat.h
Due: clang-tidy

Update setup script with advanced tooling
  .codex/setup.sh
Due: none

Modernize build system and standard
  .github/workflows/ci.yml
  .github/workflows/clang.yml
  Makefile
  README.md
  docs/modernization-plan.md
  hooks/clang_tidy.sh
  modern/Makefile
  modern/README.md
  modern/acd.c
  modern/args.c
  modern/spinlock.c
  setup.sh
Due: check-yaml, clang-tidy

Refactor headers and sources to C17
  386/include/ape/float.h
  386/include/ape/math.h
  386/include/ape/stdarg.h
  386/include/ape/ureg.h
  386/include/u.h
  386/include/ureg.h
  acme/bin/source/acd/acd.h
  acme/bin/source/acd/acme.c
  acme/bin/source/acd/cddb.c
  acme/bin/source/acd/main.c
  acme/bin/source/acd/mmc.c
  acme/bin/source/acd/toc.c
  acme/bin/source/acd/util.c
  acme/bin/source/acd/win.c
  modern/args.h
  modern/msf.h
  modern/plan9_compat.h
  modern/spinlock.h
Due: clang-tidy

Document additional utilities
  386/include/ape/ureg.h
  386/include/ureg.h
  acme/bin/source/acd/main.c
  acme/bin/source/acd/mmc.c
  acme/bin/source/acd/util.c
  modern/acd.c
  modern/args.c
  modern/args.h
  modern/msf.h
  modern/plan9_compat.h
  modern/spinlock.c
  modern/spinlock.h
Due: clang-tidy

Fix logging macro and format headers
  386/include/u.h
  acme/bin/source/acd/acd.h
  acme/bin/source/acd/acme.c
  acme/bin/source/acd/cddb.c
  acme/bin/source/acd/main.c
  acme/bin/source/acd/mmc.c
  acme/bin/source/acd/toc.c
Due: clang-tidy

Replace Plan9 I/O with stdio
  acme/bin/source/acd/acd.h
  acme/bin/source/acd/acme.c
  acme/bin/source/acd/cddb.c
  acme/bin/source/acd/main.c
  acme/bin/source/acd/mmc.c
  acme/bin/source/acd/util.c
  acme/bin/source/acd/win.c
Due: clang-tidy

Improve channel implementation
  acme/bin/source/acd/acd.h
  acme/bin/source/acd/acme.c
  acme/bin/source/acd/cddb.c
  acme/bin/source/acd/main.c
  acme/bin/source/acd/mmc.c
  acme/bin/source/acd/toc.c
  acme/bin/source/acd/util.c
  acme/bin/source/acd/win.c
Due: clang-tidy

Use pre-commit action and add compile/config hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  hooks/clang_format.sh
  hooks/compiledb.sh
  hooks/configuredb.sh
  setup.sh
Due: check-yaml

Add script to inspect Plan9 usage
  .github/workflows/clang.yml
  386/include/u.h
  docs/acd-file-analysis.md
  docs/modernization-plan.md
  scripts/analyze_repo.py
Due: check-yaml, clang-tidy

Replace Plan9 IO with stdio
  acme/bin/source/acd/acme.c
  acme/bin/source/acd/cddb.c
  acme/bin/source/acd/win.c
Due: clang-tidy

Use stdint typedefs and update logging
  386/include/u.h
  acme/bin/source/acd/acd.h
  acme/bin/source/acd/acme.c
  acme/bin/source/acd/cddb.c
Due: clang-tidy

Document C17 roadmap and clarify msf helper
  docs/c17-roadmap.md
  docs/modernization-plan.md
  modern/acd.c
  modern/msf.h
Due: clang-tidy

docs: finalize threading and I/O plan
  docs/acd-plan9-audit.md
  docs/modernization-plan.md
Due: none

Add script to find duplicate logic
  scripts/find_duplicate_logic.py
Due: none

Document shellcheck and compiledb usage
  AGENTS.md
  README.md
  docs/Doxyfile
  docs/conf.py
  docs/index.rst
  docs/modules.rst
  modern/acd.c
  modern/args.c
  modern/args.h
  modern/msf.h
  modern/spinlock.c
  modern/spinlock.h
  setup.sh
Due: clang-tidy

docs: integrate doxygen and sphinx
  AGENTS.md
  README.md
  modern/args.c
Due: clang-tidy

Improve setup logging and apt utilities
  setup.sh
Due: none

refine setup and docs
  .github/workflows/ci.yml
  .github/workflows/clang.yml
  .pre-commit-config.yaml
  BUILD_INSTRUCTIONS.md
  README.md
  setup.sh
Due: check-yaml

docs: correct clang-format citation
  docs/tooling_overview.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  clang-tidy: any of: \.(c|h)$
